/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- Reset Code --*/
body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: #999;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

/*-- //Reset Code --*/
/*-- bottom-to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 38px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //bottom-to-top --*/
/* header */
header {
    position: absolute;
    z-index: 99;
    width: 100%;
}

nav.navbar {
    border-bottom: 2px solid rgba(255, 255, 255, 0.53);
    background: rgba(6, 6, 6, 0.05);
}

/* logo */
a.navbar-brand i,
a.logo i {
    font-size: 35px;
    margin-right: 10px;
    color: #ed4f4f;
}

.navbar-light .navbar-brand,
a.logo {
    color: #fff;
    padding: 0;
    font-weight: 700;
    font-size: 35px;
}

/* //logo */
/* navigation */
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 0.5em 0;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #dc3545;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-item {
    font-size: 0.9em;
}

li.nav-item {
    margin: 0 1em;
}

li.login-list-w3ls.d-inline a {
    letter-spacing: 2px;
    font-size: 15px;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
    opacity: .7;
}

/* //navigation */
h5.pricing-title label {
    font-size: 14px;
    display: block;
    color: #0ebeff;
    font-weight: 300;
    letter-spacing: 1px;
}

/* register */
.modal-body h5 {
    color: #22a6f5;
    font-size: 25px;
    font-weight: 500;
}

.form-group label {
    font-size: 15px;
    letter-spacing: 1px;
    color: #000;
    margin-bottom: 8px;
}

.login p a {
    color: #ed4f4f;
}

button.submit {
    background: #22a6f5;
    border: none;
    width: 100%;
    padding: 9px;
    letter-spacing: 1px;
    margin-top: 1em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

button.submit:hover {
    background: #ed4f4f;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

/*-- //header --*/
/*-- banner --*/
.bg1 {
    background: url(../images/2.jpg)no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.bg2 {
    background: url(../images/1.jpg)no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.banner-text {
    padding-top: 20em;
}

.w3l-overlay {
    background: url(../images/overlay.png)repeat;
}

.w3l-overlay,
.bg1,
.bg2 {
    min-height: 50vw;
}

/*-- text Slider --*/
#slider {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}

.rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0, 0, 0, .25);
    box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -moz-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}

.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
}

.rslides_tabs li:first-child {
    margin-left: 0;
}

.rslides_tabs .rslides_here a {
    background: rgba(255, 255, 255, .1);
    color: #fff;
    font-weight: bold;
}

.events {
    list-style: none;
}

.callbacks_container {
    position: relative;
}

.callbacks li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.callbacks_tabs li {
    display: block;
    margin: 0.5em 0;
}

.callbacks_tabs a {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    font-size: 0;
}

.callbacks_tabs a:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border: 1px solid white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: -5px;
    left: -5px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

.callbacks_here a:after {
    border-color: #fff;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -ms-transform: scale(1);
}

#slider-pager a {
    display: inline-block;
}

#slider-pager span {
    float: left;
}

#slider-pager span {
    width: 100px;
    height: 15px;
    background: #fff;
    display: inline-block;
    border-radius: 30em;
    opacity: 0.6;
}

#slider-pager .rslides_here a {
    background: #FFF;
    border-radius: 30em;
    opacity: 1;
}

#slider-pager a {
    padding: 0;
}

#slider-pager li {
    display: inline-block;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    left: 0%;
    top: 0;
    width: 100%;
}

.rslides li {
    position: relative;
    display: block;
    float: none;
}

.rslides img {
    height: auto;
    border: 0;
}

.callbacks_tabs li {
    display: inline-block;
}

.callbacks li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.callbacks_tabs li {
    display: inline-block;
    margin: 0 0.5em;
}

.callbacks_tabs a {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    font-size: 0;
}

.callbacks_tabs a:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border: 2px solid white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: -5px;
    left: -5px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

.callbacks_here a:after {
    border-color: #fff;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -ms-transform: scale(1);
}

.callbacks_tabs {
    list-style: none;
    position: absolute;
    left: 46.5%;
    bottom: 6%;
    z-index: 2;
    border-radius: 5px;
}

.banner-text h3 {
    font-size: 50px;
}

.banner-text h3 span {
    font-weight: 900;
}

p.movetxt {
    font-size: 18px;
}

/* //text slider */
/*-- search --*/
.search-agile {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.search-agile form {
    max-width: 700px;
    margin: 0 5vw;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
}

.search-agile input[type="search"] {
    padding: 18px 20px;
    font-size: 16px;
    color: #000;
    width: 100%;
    outline: none;
    border: none;
    flex-basis: 70%;
    background: #fff;
    border-radius: 10px 0 0 10px;
}

.search-agile input[type="submit"] {
    color: #fff;
    font-size: 16px;
    outline: none;
    text-align: center;
    padding: 15px 30px;
    cursor: pointer;
    width: 100%;
    flex-basis: 30%;
    border: none;
    border-radius: 0 10px 10px 0;
    background: #ed4f4f;
    letter-spacing: 1px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}

.search-agile input[type="submit"]:hover {
    background: #000;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}

.banner-text h6 {
    font-size: 22px;
    letter-spacing: 1px;
}

/*-- //search --*/
/* about */
.about {
    background: url(../images/bg2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.feedback {
    background: url(../images/bg3.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

h3.title {
    font-size: 28px;
    letter-spacing: 1px;
    max-width: 560px;
    margin: 0 auto;
    line-height: 1.6;
}

h3.title span {
    font-weight: 600;
    font-size: 38px;
    letter-spacing: 0px;
	display: block;
}

.about-grid-main {
    background: #fff;
    padding: 4em 3em;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 4px 24px 3px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.about-grid-main h4 {
    font-size: 24px;
    color: #ed4f4f;
}

.about-grid-main p {
    color: #555;
}

a.button-w3ls {
    color: #22a6f5;
    font-size: 16px;
    display: inline-block;
    letter-spacing: 1px;
}

a.button-w3ls:hover {
    color: #ed4f4f;
    letter-spacing: 3px;
}

/*-- About --*/
.w3ls-middle {
    background: url(../images/bg2.jpg) no-repeat right;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    -ms-background-size: contain;
}

.service1-wthree h4 {
    color: rgba(237, 79, 79, 0.57);
    font-size: 80px;
    font-weight: 600;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.service1-wthree:hover h4,
.service1-wthree:nth-child(1) h4 {
    color: #ed4f4f;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.service1-wthree h6 {
    font-size: 22px;
}

.service1-wthree p {
    font-size: 14px;
}

.special-agiles {
    background: rgba(237, 79, 79, 0.37);
    padding: 8em 18em;
    position: relative;
    margin-top: 13em;
}

.grids-w3ls-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.grids-w3ls-left h4 {
    font-size: 36px;
    max-width: 300px;
    line-height: 1.5;
}

.agile-wthree-works {
    background: url(../images/bg3.jpg) no-repeat left;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    -ms-background-size: contain;
}

.grids-w3ls-right-2 h4 {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 1.4;
}

footer {
    background: url(../images/bg5.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.footer-grid h3 {
    font-size: 23px;
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.45);
}

.footer-grid ul li a,
.footer-grid ul li {
    color: #eee;
    font-size: 14px;
    letter-spacing: 1px;
}

.copy_right p a {
    color: #ed4f4f;
}

.copy_right p {
    background: rgba(19, 11, 11, 0.74);
    letter-spacing: 2px;
}

/*-- contact --*/
.address-grid,
.address-right {
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
}

.address h4 {
    font-size: 23px;
    color: #22a6f5;
}

.address-info p a {
    color: #999;
}

.address-info p span {
    display: block;
}

.address input[type="text"],
.address input[type="email"],
.address textarea {
    color: #000;
    outline: none;
    font-size: 15px;
    padding: 11px;
    border: none;
    letter-spacing: 1px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}

.address textarea {
    min-height: 10em;
    resize: none;
}

.address input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    padding: 11px 0;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 16px;
    background: #ed4f4f;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.address input[type="submit"]:hover {
    background: #22a6f5;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/*-- //contact --*/
/*-- gallery --*/
div#gallery {
    background: #fff;
}

.gallery_grids {
    margin-top: 3.2em;
}

.gallery_grid1 {
    margin-top: 7em;
}

.column .gallery_effect {
    position: relative;
}

.agile-gallery_grid_main {
    padding: 0 .5em;
}

a.sb {
    display: block;
}

.hover14 figure {
    overflow: hidden;
    position: relative;
}

.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-17deg);
    -moz-transform: skewX(-17deg);
    -o-transform: skewX(-17deg);
    -ms-transform: skewX(-17deg);
    transform: skewX(-17deg);
}

.hover14 figure:hover::before {
    -webkit-animation: shine .95s;
    -moz-animation: shine .95s;
    animation: shine .95s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

/*-- //gallery --*/
/* Responsive code */
@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1440px) {
    .banner-text h3 {
        font-size: 46px;
    }

    .banner-text {
        padding-top: 18em;
    }
}

@media screen and (max-width: 1366px) {
    .banner-text h3 {
        font-size: 42px;
    }

    .banner-text {
        padding-top: 17em;
    }

    p.movetxt {
        font-size: 16px;
    }
}

@media screen and (max-width: 1280px) {
    .banner-text {
        padding-top: 16em;
    }
}

@media screen and (max-width: 1080px) {
    h3.title span {
        font-size: 34px;
    }

    .special-agiles {
        padding: 8em 10em;
        margin-top: 15em;
    }

    .grids-w3ls-right-2 h4 {
        font-size: 21px;
        letter-spacing: 0.5px;
    }

    .grids-w3ls-left h4 {
        font-size: 30px;
    }

    .banner-text h3 {
        font-size: 38px;
    }

    p.movetxt {
        font-size: 15px;
    }

    .search-agile input[type="search"] {
        padding: 16px 20px;
        font-size: 15px;
    }

    .w3l-overlay,
    .bg1,
    .bg2 {
        min-height: 56vw;
    }
}

@media screen and (max-width: 1050px) {
    .service1-wthree h4 {
        font-size: 65px;
    }

    .banner-text {
        padding-top: 14em;
    }
}

@media screen and (max-width: 1024px) {
    .grids-w3ls-left h4 {
        font-size: 26px;
    }

    .footer-grid h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 991px) {
    .about-grid-main {
        padding: 1em 1em 3em;
    }

    .about-grid-main h4 {
        font-size: 20px
    }

    .gallery_grid1 {
        margin-top: 4em;
    }

    .gallery_grids {
        margin-top: 2em;
    }

    .special-agiles {
        padding: 8em 6em;
    }

    button.navbar-toggler {
        background: #fff;
        border-radius: 0px;
        border-color: #fff;
    }

    div#navbarSupportedContent {
        background: rgba(0, 0, 0, 0.91);
        padding: 1.5em 1em;
    }

    img.chef-img {
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    .special-agiles {
        margin-top: 12em;
    }

    .w3l-overlay,
    .bg1,
    .bg2 {
        min-height: 64vw;
    }
}

@media screen and (max-width: 800px) {
    .special-agiles {
        margin-top: 4em;
    }

    h3.title span {
        font-size: 33px;
    }

    h3.title {
        font-size: 24px;
    }

    .service1-wthree h4 {
        font-size: 55px;
    }

    .w3l-overlay,
    .bg1,
    .bg2 {
        min-height: 70vw;
    }
}

@media screen and (max-width: 768px) {
    .banner-text h3 {
        font-size: 35px;
    }

    .banner-text {
        padding-top: 12.5em;
    }
}

@media screen and (max-width: 736px) {
    .about-grid-main h4 {
        font-size: 17px;
    }

    .special-agiles {
        margin-top: 2em;
    }

    h3.title span {
        font-size: 28px;
    }

    .gallery_grid1 {
        margin-top: 3em;
    }

    .gallery_grids {
        margin-top: 1em;
    }

    .grids-w3ls-right-2 h4 {
        font-size: 18px;
    }

    .grids-w3ls-right {
        position: inherit;
    }

    .special-agiles {
        padding: 0em 2em;
    }

    .grids-w3ls-left {
        padding-top: 7em;
    }

    .grids-w3ls-left h4 {
        font-size: 23px;
    }

    .banner-text h3 {
        font-size: 32px;
    }

    .search-agile input[type="submit"] {
        padding: 13px 30px;
    }

    .search-agile input[type="search"] {
        padding: 13px 20px;
    }

    .about-grid {
        padding: 0 .5em;
    }
}

@media screen and (max-width: 667px) {
    .banner-text h3 {
        font-size: 30px;
    }

    .banner-text {
        padding-top: 11.5em;
    }
}

@media screen and (max-width: 640px) {
    .grids-w3ls-left h4 {
        font-size: 21px;
    }

    .banner-text {
        padding-top: 10.5em;
    }
}

@media screen and (max-width: 600px) {
    h3.title {
        font-size: 20px;
    }

    h3.title span {
        font-size: 24px;
    }

    .address h4 {
        font-size: 19px;
    }

    .grids-w3ls-left {
        padding-top: 5em;
    }

    .grids-w3ls-left h4 {
        font-size: 18px;
    }

    .w3l-overlay,
    .bg1,
    .bg2 {
        min-height: 457px;
    }

    .copy_right p {
        font-size: 14px;
    }
}

@media screen and (max-width: 568px) {
    .service1-wthree h6 {
        font-size: 17px;
    }

    .service1-wthree h4 {
        font-size: 40px;
    }

    .special-agiles {
        padding: 0em 1em;
    }

    .grids-w3ls-right-2 {
        padding: 0 1em;
    }

    h3.title {
        font-size: 17px;
    }

    .about-grid {
        padding: 0 1em;
    }

    .about-grid-main {
        padding: 1em 4em 3em;
    }

    .copy_right p {
        font-size: 13px;
    }
}

@media screen and (max-width: 480px) {
    .grids-w3ls-left {
        padding-top: 3em;
    }

    .navbar-light .navbar-brand,
    a.logo,
    a.navbar-brand i,
    a.logo i {
        font-size: 30px;
    }

    button.navbar-toggler {
        padding: 3px 7px;
    }

    nav.navbar {
        padding: 10px 20px !important;
    }

    .banner-text h3 {
        font-size: 28px;
        margin-bottom: 10px !important;
    }

    p.movetxt {
        font-size: 14px;
    }

    .search-agile input[type="submit"] {
        padding: 12px 30px;
        font-size: 14px;
    }

    .search-agile input[type="search"] {
        padding: 12px 20px;
        font-size: 14px;
    }

    .w3l-overlay,
    .bg1,
    .bg2 {
        min-height: 440px;
    }

    .copy_right p {
        letter-spacing: 1px;
    }
    .navbar-light .navbar-nav .nav-link, li.login-list-w3ls.d-inline a {
        letter-spacing: 1px;
        font-size: 14px;
    }
}

@media screen and (max-width: 440px) {
    .banner-text h3 {
        font-size: 26px;
    }

    .search-agile input[type="search"] {
        flex-basis: 60%;
    }

    .search-agile input[type="submit"] {
        flex-basis: 20%;
    }
    .banner-text {
        padding-top: 9.5em;
    }
    .w3l-overlay, .bg1, .bg2 {
        min-height: 410px;
    }
    .about-grid-main {
        padding: 1em 2em 3em;
    }
}

@media screen and (max-width: 414px) {
    .d-flex.special-agiles.text-left {
        display: block !important;
    }

    .grids-w3ls-left {
        padding: 2em;
    }

    .row.gallery_grids {
        display: block;
    }

    .col-4.agile-gallery_grid_main {
        max-width: 100%;
    }

    .gallery_grids {
        margin-top: 0em;
    }

    .gallery_grid1 {
        margin-top: 1em;
    }
    .banner-text h3 {
        font-size: 24px;
    }
    img.chef-img {
        width: 80%;
    }
}

@media screen and (max-width: 384px) {
    .special-agiles {
        margin-top: 1em;
    }

    a.button-w3ls {
        font-size: 14px;
    }

    .row.footer-grids {
        display: block;
    }

    .footer-contact {
        margin-top: 1.5rem;
    }
    .banner-text h3 {
        font-size: 25px;
        line-height: 1.3;
    }
    p.movetxt {
        font-size: 13px;
    }
    .banner-text {
        padding-top: 8.5em;
    }
    p.create-w3ls a {
        display: block;
    }
}

@media screen and (max-width: 375px) {
    h3.title span {
        font-size: 21px;
    }
    .about-grid-main {
        padding: 1em 1em 2em;
    }
    .address input[type="text"], .address input[type="email"], .address textarea {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    h3.title {
        font-size: 15px;
    }

    .grids-w3ls-left {
        padding: 1em;
    }
    .navbar-light .navbar-brand, a.logo, a.navbar-brand i, a.logo i {
        font-size: 26px;
    }
    button.navbar-toggler {
        padding: 1px 7px;
    }
    .banner-text h3 {
        font-size: 23px;
    }
    p.movetxt {
        font-size: 12px;
        margin-bottom: 10px !important;
    }
    .search-agile input[type="search"] {
        flex-basis: 66%;
        padding: 11px 12px;
        font-size: 13px;
    }
    .search-agile input[type="submit"] {
        padding: 11px 18px;
        font-size: 13px;
    }
    .search-agile form {
        margin: 0 0vw;
    }
    .w3l-overlay, .bg1, .bg2 {
        min-height: 366px;
    }
    .banner-text {
        padding-top: 8em;
    }
    .callbacks_tabs a {
        height: 10px;
        width: 10px;
    }
    .callbacks_tabs a:after {
        width: 20px;
        height: 20px;
    }
    .callbacks_tabs {
        left: 43.5%
    }
    p {
        font-size: 14px;
    }
}

/* -- //Responsive code -- */